body {
    background-image: linear-gradient(110deg, rgb(147, 239, 255), rgb(253, 127, 243));
    margin: 0;
    min-height: 100vh;
}

h1 {

    font-family: monospace;
    color: red;
}

ul{
    list-style-type: none;
    padding: 0;
}

input:focus{
    outline: none;
}

#assignment-text{
    width: 225px;
    margin: 5px 0 5px 5px;
}


.assignment-input {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 30px;
    width: 300px;
    font-size: 15px;
    background-color: rgb(242, 242, 242);
    padding: 0 ;
    text-align: center;
    border: none;
    margin: 5px;
    color: gray;
}


#submit-button{
    margin: 5px 5px 5px 0 ;
    height: 30px;
    border: none;
    width: 70px;
    padding: 0;
    font-size: 15px;
    color: gray;

}
#submit-button:hover{
    background-color: black;
    color:white;
}

#submit-button:active{
    background-color: gray;
    color:white;
}

li {
    padding: 7px 5px 0 7px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    margin:0;

}
.date{
    font-size: 10px;
    margin: 0;
    padding: 3px 7px;
    font-weight: 300;
}

.planner-container {
    padding: 20px;
    background-color: white;
    width: 325px;
    height: 600px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 11px 35px 2px;
    text-align: center;
    margin: 100px auto 0 ;
}
.assignment-container {
    height: 510px;
    overflow: scroll;
    margin: 0px;
}
.assignment {
    background-color: rgb(242, 242, 242);
    color: black;
    height: 75px;
    margin: 15px;
    padding: 0;
    border-radius: 4px;
}

.done-button, .trash-button {
    float: right;
    width: 50px;
    height: 75px;
    background-color: rgb(242, 242, 242);
    border:none;
    transition: 0.2s;
    cursor: pointer;
}

.done-button {
    color:rgb(118, 194, 99);
    border-radius: 0 3px 3px 0;

}

.trash-button {
    color:rgb(247, 73, 73);
}

.done-button:hover {
    color: rgb(242, 242, 242);
    background-color:rgb(118, 194, 99);
}

.trash-button:hover {
    color:black;
    background-color:rgb(247, 73, 73);
}